@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --rouge: #DA291C;
    --groseille: #B51F1F;
    --taupe: #413D3A;
    --canard: #007480;
    --leman: #00A79F;
    --perle: #CAC7C7;
}

* {
    box-sizing: border-box;
}

body,
html {
    box-sizing:border-box
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    padding: 0 1rem;
}

input, select, button {
    font-size: unset;
    font-family: unset;
}

body {
    max-width:34rem;
    margin: 1rem auto;
}

dialog {
    border: none;
    outline: thick solid var(--groseille);
    text-align: center;
    z-index: 1;
}

dialog::backdrop {
    backdrop-filter: blur(0.25rem);
}

pre, code, kbd, samp {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}

article, aside, details, footer, header, main, nav, section,
figure, form, ol, p, pre, ul, video, table {
    margin: 1rem 0;
}

ol, ul {
    padding-left: 1em;
}

header, fieldset, h1.title {
    border-radius: 0.5rem;
    padding: 0.5rem;
}

h1.title {
    background: var(--rouge);
    color: white;
}

h2 {
    color: var(--canard);
}

footer h3 {
    margin-top: 2rem;
}

p.finished {
    background: var(--leman);
    border: thick solid var(--canard);
    color:white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset, fieldset:first-child:first-child {
    margin-top: -0.5rem;
    align-self: stretch;
}

fieldset input[type="radio"] {
    margin: 0.5rem;
}

fieldset label {
    padding: 0.25rem;
}

label {
    display: inline-block;
}

select, input, button {
    padding: 0.5rem;
}

input[type="submit"], button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

input[type="submit"] {
    align-self: end;
}

form > *:first-child {
    margin-top: 0;
}

form > *:last-child {
    margin-bottom: 0;
}

.grid-form {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 0.5rem;
}

.grid-form label {
    text-align: right;
}

.IpBanner {
    border: thin solid var(--taupe);
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#app-list {
    width: 100%;
    max-height: 65vh;
    overflow: auto;
}

#app-list h5::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.app-grid {
    display: grid;
    grid-gap: 8px;

    padding: 8px;
}

.app-option {
    min-height: 0;
    min-width: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;

    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px -1px, rgba(0, 0, 0, 0.14) 0 1px 1px 0, rgba(0, 0, 0, 0.12) 0 1px 3px 0;
    background-color: rgba(0, 0, 0, 0.05);

    font-size: larger;
    cursor: pointer;
}

@media (min-width:1025px) {
    .app-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .app-option {
        aspect-ratio: 11/18;
    }
}


@media (max-width:1024px)  {
    .app-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .app-option {
        aspect-ratio: 11/22;
    }
}

.app-option p {
    margin: 0;
    padding: 0 8px;
    width: 100%;
}

.app-option-name {
    font-size: 1rem;
}

.app-option-description {
    font-size: 0.7rem;
    opacity: 0.7;
}


.app-thumbnail {
    width: 100%;
    aspect-ratio: 11/11;
    object-fit: cover;
}

.tictactoe .board {
    --border: medium solid var(--taupe);
    display: grid;
    grid-template-columns: repeat(3, min(30%, 60rem));
    justify-content: center;
}

.tictactoe .cell {
    padding: 0.5rem;
    font-size: min(3.5rem, 10vw);
    line-height: 1.0;
}

.tictactoe .cell:nth-child(-n+3) {
    border-bottom: var(--border);
}

.tictactoe .cell:nth-child(3n+1) {
    border-right: var(--border);
}

.tictactoe .cell:nth-child(3n) {
    border-left: var(--border);
}

.tictactoe .cell:nth-child(n+7) {
    border-top: var(--border);
}

.memory .card, .tictactoe .cell, .rockpaperscissors .card {
    aspect-ratio: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    word-break: break-all;
}

.memory .board {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(min(50%, 4rem), 1fr));
    justify-content: space-between;
}

.memory .card, .rockpaperscissors .card {
    align-items: center;
    background: #eeeeec;
    border-radius: 0.5rem;
    box-sizing: border-box;
    cursor: default;
    font-size: 2.5rem;
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
    outline: thin solid var(--taupe);
}

.memory .card[data-selected] {
    border: thick solid var(--canard);
}

.memory .card[data-revealed] {
    opacity: 0.5;
}

.memory .board[data-interactive] .card:not([data-revealed]) {
    cursor: pointer;
}

.memory .scores, .rockpaperscissors .scores {
    width: 100%;
    display: grid;
    gap: 0.5rem 1rem;
    grid-template-columns: minmax(max-content, 1rem) 1fr;
    align-items: baseline;
}

.memory .tricks {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    min-height: 2rem;
    vertical-align: baseline;
    border: thin solid var(--perle);
}

.memory .scores .playerId {
    text-align: right;
}

.memory .scores .card {
    width: 2rem;
    font-size: 1rem;
    display: inline-flex;
}

.rockpaperscissors .choices, .rockpaperscissors .moves, .rockpaperscissors .score {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.textbasedadventure {
    font-family: "Fira Code", monospace;
    font-size: 1rem;
}

div.textbasedadventure {
    width: 100%;
    background-color: black;
}


.textbasedadventure input {
    height: 1em;
    width: 100%;
    border: solid 1px whitesmoke;
    box-sizing: border-box;
    background-color: black;
    color: green;
}

.textbasedadventure .console {
    overflow: hidden;
    padding: 0.5em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: solid 1px black;
}

.textbasedadventure .console span {
    box-sizing: border-box;
}